
<% if @post.errors.any? %>
  <div class="alert alert-error">
  <h5>There were some errors:</h5>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @post do |f| %>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
      </br>
      <%= f.label :url %>
      <%= f.text_field :url %>
      </br>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
      </br>
      <%= f.submit (@post.new_record? ? "Create post" : "Update post"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
