<%= render 'shared/errors', obj: @post %>

<div class="well">
  <%= form_for @post do |f| %>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
      </br>

      <%= f.label :url %>
      <%= f.text_field :url %>
      </br>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
      </br>

      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cd| %>
        <% cd.label(class: 'checkbox inline') {cd.check_box(class: 'checkbox') + cd.text} %>
      <% end %>
      </br>

      <%= f.submit (@post.new_record? ? "Create post" : "Update post"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
