<%= render "shared/title_content", title: "All Posts" %>

<% @posts.each do |post| %>
  <div class="row">
    <div class="span8 well">
      <%= render post.categories %>
      <h4><%= link_to post.title, post.url%>
      (<%= link_to "Edit", edit_post_path(post) %>)
      </h4>
      <p><%= post.description %></p>
        <p>
          <span class='quiet'>Posted by</span> <%= post.creator.username %>
          <small>Posted at <%= post.created_at %></small>
        </p>
        <small>
          <span>
            <%= link_to "#{post.comments.size} comments", post_path(post) %>
          </span>
        </small>
    </div>
  </div>
<% end %>