<p class="lead">
  All Posts
  <hr/>
</p>

<% @posts.each do |post| %>
  <div class="row">
    <div class="span8 well">
      <% post.categories.each do |category| %>
        <span class="badge"><%= category.name %></span>
      <% end %>
      <h4><%= link_to post.title, post.url%></h4>
      <p><%= post.description %></p>
        <p>
          <span class='quiet'>Posted by</span> <%= post.creator.username %>
          <small>Posted at <%= post.created_at %></small>
        </p>
        <small>
          <span>
            <%= link_to "#{post.comments.size} comments", post_path(post) %>
          </span>
        </small>
    </div>
  </div>
<% end %>