<p>
  <%= render @post.categories %>  
</p>

<h4>You are viewing:<%= link_to @post.title, fix_url(@post.url) %></h4>

<p>
  <%= @post.description %>
</p>
</br>

<%= form_for [@post, @comment] do |f| %>
  <%= render 'shared/errors', obj: @comment %>
  <%= f.text_area :body %>
  </br>
  <%= f.submit "Create New Comment", class: "btn btn-primary" %>
<% end %>