<p>
  <%= render @post.categories %>  
</p>


<%= render "shared/title_content", title: @post.title %>

<p>
  <%= @post.description %>
</p>
</br>

<%= form_for [@post, @comment] do |f| %>
  <%= render 'shared/errors', obj: @comment %>
  <%= f.text_area :body %>
  </br>
  <%= f.submit "Create New Comment", class: "btn btn-primary" %>
<% end %>